# Ignore Package Control stuff
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/

# Ignore Go package settings
GoSublime/
GoSublime-aux.sublime-settings
